.board-container{
    display: grid;
    grid-template-columns: repeat(8, [col-start] 80px);
    grid-template-rows: repeat(8, [row-start] 80px);
    background-color: #85BBD9;
    height: 640px;
    width: 640px;
}

$rows: one two three four five six seven eight;
$columns: h g f e d c b a;

@each $row in $rows {
    @each $column in $columns{
       .#{$row + $column}{
         background-color: #F8FFB2
    } 
    }
}
